
[user]
	name = Elhaam
	email = e4elhaam@gmail.com
[credential]
	helper = cache

[alias]
	cm = !git commit -m
	ca = !git commit --amend
  atpc = "!git add -A && git commit --amend"
  atpp = "!git add -A && git commit --amend && git push --force-with-lease origin $(git symbolic-ref --short HEAD)"
	ac = !git add -A && git commit -m
	cmp = "!f() { git commit -m \"$1\" && git push origin $(git symbolic-ref --short HEAD); }; f"	
	acp = "!f() { git add -A && git commit -m \"$1\" && git push origin $(git symbolic-ref --short HEAD); }; f"	
	pom = push origin master
	po = push origin
	pl = pull origin
	st = status -sb
	s = status
	co = checkout
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ll = log --oneline
	last = log -1 HEAD --stat
	fo = fetch origin
	fa = fetch --all
	rh = reset --hard
  rha = "!git add. && reset --soft"
	rs = reset --soft
	plc = "!git pull origin $(git symbolic-ref --short HEAD)"
	poc = "!git push origin $(git symbolic-ref --short HEAD)"
	pocf = "!git push origin $(git symbolic-ref --short HEAD) --force-with-lease"
  cbr = "!f() { echo 'Current branch:' && git rev-parse --abbrev-ref HEAD && git rev-parse --abbrev-ref HEAD | clip.exe; }; f"
  ahead-of = "!f() { git log --oneline \"$1..HEAD\"; }; f"
  fprs= fetch origin '+refs/pull/*/head:refs/remotes/origin/pull/*'
  unpushed = log @{u}..
  stp = stash pop
  cbb = "!git checkout -b bak/$(git rev-parse --abbrev-ref HEAD) && git checkout -"
  # checkouts to main branch
  com = "!git checkout $(for b in main master trunk release production prod stable; do git branch --list $b; done | head -n 1 | xargs)"
  # checkouts to dev branch
  cod = "!git checkout $(for b in dev develop development stg staging ; do git branch --list $b; done | head -n 1 | xargs)"
  sync = "!git pull origin $(git symbolic-ref --short HEAD) && git push origin $(git symbolic-ref --short HEAD)"
  wip = !git add -A && git commit -m "WIP"
  undo = reset --soft HEAD~1
[core]
	editor = vim
    pager = delta
[init]
	defaultBranch = main
[safe]
	directory = /home/trueerp/frappe-bench/apps/doc_appointments
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  blame-palette = ["#1f2129", "#1c1e26", "#181a21", "#2a2d3a", "#333748"]  # Dark muted tones
  commit-decoration-style = box ul
  dark = true
  file-decoration-style = "#aab2ce"   # Muted gray-blue
  file-style = "#aab2ce"
  hunk-header-decoration-style = box ul
  hunk-header-file-style = bold
  hunk-header-line-number-style = bold "#8a93ab"  # Muted dark gray-blue
  hunk-header-style = file line-number syntax
  line-numbers-left-style = "#656c82"  # Dark gray
  line-numbers-minus-style = bold "#b3525b"  # Dark muted red
  line-numbers-plus-style = bold "#6c946e"   # Dark muted green
  line-numbers-right-style = "#656c82"
  line-numbers-zero-style = "#656c82"
  minus-emph-style = bold syntax "#a94449"  # Darker red for emphasis
  minus-style = syntax "#8a3a3f"            # Very dark muted red
  plus-emph-style = bold syntax "#507750"   # Darker green for emphasis
  plus-style = syntax "#3e5e3e"            # Very dark muted green
  map-styles = bold purple => syntax "#4e445c", bold blue => syntax "#39475a", bold cyan => syntax "#3b505d", bold yellow => syntax "#524f48"
  line-numbers = true
