
[user]
	name = Elhaam
	email = e4elhaam@gmail.com
[credential]
	helper = cache

[alias]
	cm = !git commit -m
	ca = !git commit --amend
  atpc = "!git add -A && git commit --amend"
  atpp = "!git add -A && git commit --amend && git push --force-with-lease origin $(git symbolic-ref --short HEAD)"
	ac = !git add -A && git commit -m
	cmp = "!f() { git commit -m \"$1\" && git push origin $(git symbolic-ref --short HEAD); }; f"	
	acp = "!f() { git add -A && git commit -m \"$1\" && git push origin $(git symbolic-ref --short HEAD); }; f"	
	pom = push origin master
	po = push origin
	pl = pull origin
	st = status -sb
	s = status
	co = checkout
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ll = log --oneline
	last = log -1 HEAD --stat
	fo = fetch origin
	fa = fetch --all
	rh = reset --hard
  rha = "!git add. && reset --soft"
	rs = reset --soft
	plc = "!git pull origin $(git symbolic-ref --short HEAD)"
	poc = "!git push origin $(git symbolic-ref --short HEAD)"
	pocf = "!git push origin $(git symbolic-ref --short HEAD) --force-with-lease"
  cbr = "!f() { echo 'Current branch:' && git rev-parse --abbrev-ref HEAD && git rev-parse --abbrev-ref HEAD | clip.exe; }; f"
  ahead-of = "!f() { git log --oneline \"$1..HEAD\"; }; f"
  fprs= fetch origin '+refs/pull/*/head:refs/remotes/origin/pull/*'
  unpushed = log @{u}..
  stp = stash pop
[core]
	editor = vim
    pager = delta
[init]
	defaultBranch = main
[safe]
	directory = /home/trueerp/frappe-bench/apps/doc_appointments
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  blame-palette = "#303446 #292c3c #232634 #414559 #51576d"
  commit-decoration-style = box ul
  dark = true
  file-decoration-style = "#c6d0f5"
  file-style = "#c6d0f5"
  hunk-header-decoration-style = box ul
  hunk-header-file-style = bold
  hunk-header-line-number-style = bold "#a5adce"
  hunk-header-style = file line-number syntax
  line-numbers-left-style = "#737994"
  line-numbers-minus-style = bold "#e78284"
  line-numbers-plus-style = bold "#a6d189"
  line-numbers-right-style = "#737994"
  line-numbers-zero-style = "#737994"
  minus-emph-style = bold syntax "#5e4855"
  minus-style = syntax "#433c4c"
  plus-emph-style = bold syntax "#4e5b56"
  plus-style = syntax "#3c444d"
  map-styles = bold purple => syntax "#574f6e", bold blue => syntax "#475270", bold cyan => syntax "#4a5b6b", bold yellow => syntax "#5d5958"
  line-numbers = true
