
[user]
	name = Elhaam
	email = e4elhaam@gmail.com
[credential]
	helper = cache

[alias]
	cm = !git commit -m
	ca = !git commit --amend
  atpc = "!git add -A && git commit --amend"
  atpp = "!git add -A && git commit --amend && git push --force-with-lease origin $(git symbolic-ref --short HEAD)"
	ac = !git add -A && git commit -m
	cmp = "!f() { git commit -m \"$1\" && git push origin $(git symbolic-ref --short HEAD); }; f"	
	acp = "!f() { git add -A && git commit -m \"$1\" && git push origin $(git symbolic-ref --short HEAD); }; f"	
	pom = push origin master
	po = push origin
	pl = pull origin
	st = status -sb
	s = status
	co = checkout
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ll = log --oneline
	last = log -1 HEAD --stat
	fo = fetch origin
	fa = fetch --all
	rh = reset --hard
	rh = reset --soft
	plc = "!git pull origin $(git symbolic-ref --short HEAD)"
	poc = "!git push origin $(git symbolic-ref --short HEAD)"
  cbr = "!f() { echo 'Current branch:' && git rev-parse --abbrev-ref HEAD && git rev-parse --abbrev-ref HEAD | clip.exe; }; f"
  ahead-of = "!f() { git log --oneline \"$1..HEAD\"; }; f"
  fprs= fetch origin '+refs/pull/*/head:refs/remotes/origin/pull/*'
  unpushed = log @{u}..
[core]
	editor = vim
[init]
	defaultBranch = main
[safe]
	directory = /home/trueerp/frappe-bench/apps/doc_appointments
